# Supabase Configuration
VITE_SUPABASE_URL=https://xshwynnsdsrmcbsphfhe.supabase.co
VITE_SUPABASE_ANON_KEY=heTH8ZPggJJX9xZYCYFypKlGPRDxHAxa5P9NJlXMiqHTwZW6o7DRwr76OtwI7wXzpdtgfYy7COM1Q7H7ufqumg==

# Optional: For development
VITE_APP_ENV=development
